# app settings
DEBUG			    = True
SECRET_KEY 			= 'Change this'
PORT 				= 5000

# Photobooth settings
USE_GPHOTO 			= False
USE_EOSUTILITY 		= True
INTERVAL_TIME 		= 5 # in seconds
NUMBER_OF_PHOTOS	= 4 # Number of photos per shoot
SHOOT_DURATION		= 20
