body { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#take_picture {
	color: #0063dc;
	cursor: pointer;
}

.photos {
	width: 25%;
	padding: 10px;
}

#reset {
	color: #0063dc;
	cursor: pointer;
}