<!doctype html>
<html>
<head>
  <title>Photo Booth</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}" charset="utf-8"></script>
  <script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type=text/javascript>
    $(function() {
      $('div#take_picture').bind('click', function() {
        
        $("#take_picture").html("Taking your picture!</br></br><img src='/static/images/1.gif'/>");

        $.getJSON($SCRIPT_ROOT + '/_take_pictures', function(data) {
          $("#take_picture").html("");
          $("#result").text('All done!');
          
          for (var i=0, len=data.pictures.length; i < len; i++) {
            $('#pictures').append('<img style="width:10%; padding: 10px; " src=' + $SCRIPT_ROOT + '/' + data.pictures[i] + '/>')
          }
        });
        return false;
      });
    });
  </script>
</head>
  <body>
    <h1>Take a photo!</h1>
    <div href="#" id="take_picture" style="color: #0063dc; cursor: pointer;">Take Pictures</div>
    <br/>
    <div id="result">&nbsp;</div>
    <br/>
    <div id="pictures"></div>
  </body>
</html>
